html, body, #root {
  background: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(10px);
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
}

#root {
  flex: 1;
}

.markdown-content a {
  color: #3182ce;
  text-decoration: underline;
  cursor: pointer;
}

.markdown-content a:hover {
  text-decoration: none;
}